# Ignore build and dist directories
/build
/dist
**/dist
/node_modules
/.pnpm-store
/coverage
**/coverage
**/.output
.idea
.DS_Store
/packages/*/node_modules
lerna-debug.log
npm-debug.log
cypress/videos/**/*.mp4
